@model ORT_PNT1_Proyecto_2022_2C_I_Foro.Models.Respuesta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Respuesta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantMeGustas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantMeGustas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miembro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miembro.MiembroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pregunta.PreguntaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RespuestaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
