@model IEnumerable<ORT_PNT1_Proyecto_2022_2C_I_Foro.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create">Agregar Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
